<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{!-- Dynamic page title --}}
        <title>{{#if pageTitle}}{{pageTitle}}{{else}} TechStore - Laptops and Computers{{/if}}</title>
        <link rel="stylesheet" href="/styles/styles.css">
    </head>

    <body>
        <header>

            <nav>
                <ul>
                    {{!-- all users --}}
                    <li><a href="/">Home</a></li>
                    <li><a href="/products/catalog">Products</a></li>
                    <li><a href="/products/search">Search</a></li>
                    {{#if user}}
                    {{!-- logged users --}}
                    <li><a href="/products/create">Add Product</a></li>
                    <li><a href="/auth/logout">Logout</a></li>
                    {{else}}
                    {{!-- guest users --}}
                    <li><a href="/auth/login">Login</a></li>
                    <li><a href="/auth/register">Register</a></li>
                    {{/if}}
                </ul>
            </nav>

        </header>

        <main>
            <!-- In case of error, you should display div with class "errorContainer" -->
            <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
            {{#if error}}
            <div>
                <div class="error-container">
                    <p>{{error}}</p>
                </div>
            </div>
            {{/if}}

            {{{body}}}
        </main>

        <footer>

            <p>&copy; 2024 GlowAlchemy. All rights reserved.</p>

        </footer>
    </body>

</html>