{{setTitle 'Home Cooking Recipes | Search'}}

<section class="search-container">
    <h2>Search Recipes</h2>

    <form method="GET">
        <input type="text" id="search" name="title" placeholder="Search for recipes...">
        <button type="submit">Search</button>
    </form>

    <div class="search-results">

        {{#if recipes}}
        {{#each recipes}}
        <article class="recipe">
            <img src="{{this.imageUrl}}" alt="{{this.title}}">
            <h3>{{this.title}}</h3>
            <p>{{this.description}}</p>
            <a href="/recipes/{{this._id}}/details">Read More</a>
        </article>
        {{/each}}
        {{else}}
        <!-- Add more search results here -->

        <p class="no-match">There are no recipes found yet!</p>
        {{/if}}
    </div>

</section>