{{setTitle 'Magma Haven | Catalog'}}

<section class="volcano-catalog">
    <h1 id="title"><span>Volcano</span> Catalog</h1>

    {{#if volcanoes}}

    <div class="item-list">

        {{#each volcanoes}}
        <div class="volcano">
            <div class="volcano-img">
                <img src="{{this.image}}">
            </div>
            <div class="volcano-info">
                <h1>{{this.name}}</h1>
                <p><span>Location: </span>{{this.location}}</p>
                <p><span>Volcano Type: </span>{{this.typeVolcano}}</p>
            </div>

            <a href="/volcanoes/{{this._id}}/details" class="btn-details">Details</a>
        </div>
        {{/each}}
    </div>

    {{else}}
    <div class="no-volcano">
        <p>There are no volcano found yet!</p>
    </div>
    {{/if}}
</section>