{{setTitle 'GlowAlchemy | Catalog'}}

<h2>Product Catalog</h2>

<section class="products">
    {{#if products}}

    {{#each products}}
    <article class="product">
        <img src="{{this.image}}">
        <h3>{{this.name}}</h3>
        <p>Suitable for: {{this.skin}}</p>
        <a href="/products/{{this._id}}/details">Read More</a>
    </article>
    {{/each}}

    {{else}}
    <p class="no-post">There are no products found yet!</p>
    {{/if}}
</section>